<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RecipientChecker_VSTO_2010.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RecipientChecker_VSTO_2010.Properties.Settings>
            <setting name="FlaggedAddressWords" serializeAs="String">
                <value>everyone</value>
            </setting>
            <setting name="DisplayMessage" serializeAs="String">
                <value>Hey there cowboy, it looks like you're trying to send an email to everyone. Are you sure everyone's lives will be enriched by reading this message?</value>
            </setting>
        </RecipientChecker_VSTO_2010.Properties.Settings>
    </userSettings>
</configuration>